@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.csg-header {
  width: 100vw;
}
.menu-icon {
  position: absolute;
  top: 32px;
  right: 32px;
}
.splash-banner {
  height: 500px;
  width: 100vw;
  position: relative;
  background: #ededed;
}
.splash-title {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 72px;
  font-family: 'Open Sans', sans;
  color: #fff;
  font-weight: 700;
}
.account-content {
  display: flex;
}
.left-column {
  flex-grow: 1;
  background: #fff;
  padding: 48px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.search-bar {
  height: 64px;
  width: 70%;
  border-radius: 32px;
  background: #fff;
  border: 2px solid #ededed;
  padding: 12px;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 16px;
}
.search-bar:hover {
  cursor: text;
}
.search-icon {
  display: none;
}
.search-form {
  display: none;
}
.active-agents-list {
  padding: 48px;
  width: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.active-agents-title {
  font-size: 48px;
  font-family: 'Open Sans', sans;
}
.agent {
  height: 200px;
  width: 100%;
  border: 2px solid #ededed;
  background: #fff;
  margin: 16px 0;
  display: flex;
}
.agent-photo {
  height: 100%;
}
.agent-information {
  padding: 16px 32px;
  flex-grow: 1;
  font-family: 'Open Sans', sans;
}
.agent-name {
  font-size: 28px;
  font-weight: 700;
}
.agent-availability {
  padding: 4px 24px;
  color: #fff;
  border-radius: 32px;
  background: #008000;
}
.right-column {
  flex-grow: 1;
  padding: 48px 24px;
  box-sizing: border-box;
}
.video-feed {
  border: 2px solid #ededed;
  padding: 24px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.video {
  height: 250px;
  width: 80%;
  background: #ededed;
  margin: 24px 0;
  position: relative;
}
.video:hover {
  cursor: pointer;
}
.divider {
  height: 2px;
  width: 80%;
  background: #ededed;
  margin: 24px 0;
}
.video-text {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: 'Open Sans';
  font-size: 28px;
  text-align: center;
  max-width: 40%;
}
