@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700')
grey = #ddd

set-position(t = auto, r = auto, b = auto, l = auto)
	position absolute
	if t != auto
		top t
	if r != auto
		right r
	if b != auto
		bottom b
	if l != auto
		left l

fix-position(t = auto, r = auto, b = auto, l = auto)
	position fixed
	if t != auto
		top t
	if r != auto
		right r
	if b != auto
		bottom b
	if l != auto
		left l

set-dimension(h = auto, w = auto)
	if h != auto
		height h
	if w != auto
		width w

center(t = auto, r = auto, b = auto, l = auto)
	set-position(t, r, b, l)
	if l != auto
		margin-right -50%
		transform translate(-50%, -50%)
	else if r != auto
		transform translate(50%, -50%)

.company
	set-position(24px, 32px, , )
	font-size 32px
	font-family 'Open Sans'
	z-index 1

.livestream-title
	font-size 48px
	font-family 'Open Sans'
	set-dimension(, 80%)
	text-align center
	set-position(100px, , , 50%)
	margin-right -50%
	transform translateX(-50%)

.live-wrapper
	set-position(175px, , , 0)
	set-dimension(, 100vw)
	display flex
	box-sizing border-box
	margin-bottom 64px

.live-column
	padding 36px
	box-sizing border-box

.livestream
	background blue
	set-dimension(630px, 1300px)

.livestream-dashboard
	set-dimension(70px, 1300px)
	background pink

.chat-column
	flex-grow 1
	padding 36px
	box-sizing border-box
	display flex
	flex-direction column
	align-items center

.chat
	background pink
	set-dimension(90%, 95%)

.dashboard
	background blue
	flex-grow 1
	set-dimension(, 95%)

.notes-title
	set-position(1000px, , , 50%)
	margin-right -50%
	transform translateX(-50%)
	font-size 48px
	font-family 'Open Sans'

.notes
	set-dimension(500px, 90%)
	background grey
	set-position(1100px, , , 50%)
	margin-right -50%
	transform translateX(-50%)
