@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
.company {
  position: absolute;
  top: 24px;
  right: 32px;
  font-size: 32px;
  font-family: 'Open Sans';
  z-index: 1;
}
.livestream-title {
  font-size: 48px;
  font-family: 'Open Sans';
  width: 80%;
  text-align: center;
  position: absolute;
  top: 100px;
  left: 50%;
  margin-right: -50%;
  transform: translateX(-50%);
}
.live-wrapper {
  position: absolute;
  top: 175px;
  left: 0;
  width: 100vw;
  display: flex;
  box-sizing: border-box;
  margin-bottom: 64px;
}
.live-column {
  padding: 36px;
  box-sizing: border-box;
}
.livestream {
  background: #00f;
  height: 630px;
  width: 1300px;
}
.livestream-dashboard {
  height: 70px;
  width: 1300px;
  background: #ffc0cb;
}
.chat-column {
  flex-grow: 1;
  padding: 36px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chat {
  background: #ffc0cb;
  height: 90%;
  width: 95%;
}
.dashboard {
  background: #00f;
  flex-grow: 1;
  width: 95%;
}
.notes-title {
  position: absolute;
  top: 1000px;
  left: 50%;
  margin-right: -50%;
  transform: translateX(-50%);
  font-size: 48px;
  font-family: 'Open Sans';
}
.notes {
  height: 500px;
  width: 90%;
  background: #ddd;
  position: absolute;
  top: 1100px;
  left: 50%;
  margin-right: -50%;
  transform: translateX(-50%);
}
